body {
    background: #000;
    color: #DDD;
    font-family: consolas;
    font-size: 12px;
}
.loading { display: none; }
.label { 
    margin-top: 10px; 
    margin-bottom: 5px; 
}
.email-box, .loading {
    margin: 5px 0px;
}
.good { color: green; }
.bad { color: red; }
input, textarea { width: 100%; }
textarea { height: 200px; }
#wrap {
    width: 960px;
    margin: auto;
    margin-top: 10px;
}
#results {
    margin: 20px;
}